{{> messages}}
<div class="row">
  <!--     選單 -->
  <div class="col-md-3 p-3">
    {{> owner-tabs router="beverage"}}
  </div>

  <!--   選單內容   -->
  <div class="col-md-9 pt-3" style="display:flex">
    <section class="col-md-6 beverages-table">
      <div>
        <table class="table-hover staff-table">
          <thead>
            <tr style="text-align:center">
              <th scope="col" style="width:25%">類別</th>
              <th scope="col" style="width:35%">名稱</th>
              <th scope="col" style="width:15%">價格</th>
              <th scope="col" style="width:15%"></th>
              <th scope="col" style="width:10%"></th>
            </tr>
          </thead>
          <tbody>
            {{#each drinks}}
            <tr class="staff-col">
              <th scope="row">{{this.Category.name}}</th>
              <td>{{this.name}}</td>
              <td>{{this.price}}</td>
              <td>
                <form action="/owner/beverages/{{this.id}}" method="GET" style="display: inline;">
                  <button class="btn staff-edit" type="submit">餐點修改</button>
                </form>
              </td>
              <td>
                <form action="/owner/beverages/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
                  <button class="btn" type="submit" onclick="return confirm('確定移除該餐點嗎?')">
                    <i class="fa-solid fa-xmark" style="color:lightcoral"></i>
                  </button>
                </form>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </section>


    <div class="vr" style="width:2px;color:aliceblue"></div>
    <section class="col-md-5 mb-3">
      {{#if drink}}
      {{!-- 修改餐點 --}}
      <div>
        <h3 style="color:azure;text-align:center;font-weight:bold">餐點資料</h3>
      </div>
      <div class="beverages-setting">
        <span>*為必填欄位</span>
        <form action="/owner/beverages/{{drink.id}}?_method=PATCH" method="POST">
          <div style="display:flex;justify-content:space-between;margin:3px 0">
            <div class="dropdown">
              <label for="categoryId" class="form-label me-5">類別*</label>
              <select name="categoryId" id="categoryId">
                {{#each categories}}
                <option class="category-option {{#ifCond this.id ../drink.categoryId}}active{{/ifCond}}"
                  value="{{this.id}}">{{this.name}}</option>
                {{/each}}
              </select>
            </div>
          </div>

          <div class="beverage-data my-3">
            <label for="name" class="form-label me-5">名稱*</label>
            <input type="text" id="name" name="name" size="20" maxlength="10" placeholder="請輸入名稱" class="form-input"
              value="{{drink.name}}" required>
          </div>

          <div class="beverage-data my-3">
            <label for="price" class="form-label me-5">價格*</label>
            <input type="number" id="price" name="price" size="20" maxlength="3" placeholder="請輸入聯絡電話"
              class="form-input" value="{{drink.price}}" required>
          </div>

          <div class="btn-submit-wrapper">
            <button type="submit" class="btn btn-submit-setting my-2" id="submit">儲存</button>
          </div>
        </form>
      </div>
      {{else}}
      {{!-- 新增餐點 --}}
      <div>
        <h3 style="color:azure;text-align:center;font-weight:bold">新增餐點</h3>
      </div>
      <div class="beverages-setting">
        <span>*為必填欄位</span>
        <form action="/owner/beverages/create" method="POST">
          <div style="display:flex;justify-content:space-between;margin:3px 0">
            <div class="dropdown">
              <label for="categoryId" class="form-label me-5">類別*</label>
              <select name="categoryId" id="categoryId">
                <option class="default-value" disabled hidden selected>請選擇類別</option>
                {{#each categories}}
                <option class="category-option" value="{{this.id}}">{{this.name}}</option>
                {{/each}}
              </select>
            </div>
          </div>

          <div class="beverage-data my-3">
            <label for="name" class="form-label me-5">名稱*</label>
            <input type="text" id="name" name="name" size="20" maxlength="10" placeholder="請輸入餐點名稱" class="form-input"
              value="{{drink.name}}" required>
          </div>

          <div class="beverage-data my-3">
            <label for="price" class="form-label me-5">價格*</label>
            <input type="number" id="price" name="price" max="100" placeholder="請輸入價格" class="form-input"
              value="{{drink.price}}" required>
          </div>

          <div class="btn-submit-wrapper">
            <button type="submit" class="btn btn-submit-setting my-2" id="submit">新增
            </button>
          </div>
        </form>
      </div>
      {{/if}}
    </section>
  </div>
</div>