{{> messages}}
<div class="row">
  <!--     選單 -->
  <div class="col-md-3 p-3">
    {{> owner-tabs router="category"}}
  </div>

  <!--   選單內容   -->
  <div class="col-md-9 pt-3" style="display:flex">
    <section class="col-md-6 beverages-table">
      <div>
        <table class="table-hover staff-table">
          <thead>
            <tr style="text-align:center">
              <th scope="col" style="width:25%">編號</th>
              <th scope="col" style="width:35%">名稱</th>
              <th scope="col" style="width:20%"></th>
              <th scope="col" style="width:20%"></th>
            </tr>
          </thead>
          <tbody>
            {{#each categories}}
            <tr class="staff-col">
              <th scope="row">{{this.id}}</th>
              <td>{{this.name}}</td>
              <td>
                <form action="/owner/categories/{{this.id}}" method="GET" style="display:inline;">
                  <button class="btn staff-edit" type="submit">類別修改</button>
                </form>
              </td>
              <td>
                <form action="/owner/categories/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
                  <button class="btn" type="submit" onclick="return confirm('確定要移除該類別嗎?')">
                    <i class="fa-solid fa-xmark" style="color:lightcoral"></i>
                  </button>
                </form>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </section>


    <div class="vr" style="width:2px;color:aliceblue"></div>
    <section class="col-md-5 mb-3">
      {{#if category}}
      {{!-- 修改類別 --}}
      <div>
        <h3 style="color:azure;text-align:center;font-weight:bold">類別資料</h3>
      </div>
      <div class="beverages-setting">
        <span style="color:aliceblue;font-size:x-small">*為必填欄位</span>
        <form action="/owner/categories/{{category.id}}?_method=PATCH" method="POST">
          <div class="beverage-data my-3">
            <label for="name" class="form-label me-5">名稱*</label>
            <input type="text" id="name" name="name" size="20" maxlength="8" placeholder="請輸入類別名稱" class="form-input"
              value="{{category.name}}" required>
          </div>

          <div class="btn-submit-wrapper">
            <button type="submit" class="btn btn-submit-setting my-2" id="submit">儲存</button>
          </div>
        </form>
      </div>
      {{else}}
      {{!-- 新增類別 --}}
      <div>
        <h3 style="color:azure;text-align:center;font-weight:bold">新增類別</h3>
      </div>
      <div class="beverages-setting">
        <span style="color:aliceblue;font-size:x-small">*為必填欄位</span>
        <form action="/owner/categories" method="POST">
          <div class="beverage-data my-3">
            <label for="name" class="form-label me-5">名稱*</label>
            <input type="text" id="name" name="name" size="20" maxlength="8" placeholder="請輸入類別名稱" class="form-input"
              value="{{category.name}}" required>
          </div>
          <div class="btn-submit-wrapper">
            <button type="submit" class="btn btn-submit-setting my-2" id="submit">新增
            </button>
          </div>
        </form>
      </div>
      {{/if}}
    </section>
  </div>
</div>