<section style="display:flex;justify-content:center">
  <div class="card-deck mb-3" style="width:80%;display:inline-block;">
    {{#each consumesList}}
    <div class="card text-left consume-content mb-3">
      <h5 class="ms-3 mt-2">{{this.drinkName}}&emsp;{{this.drinkSugar}}, {{this.drinkIce}}</h5>
      <h6 class="mx-3 mb-2" style="display:flex;justify-content:space-between">
        <span>
          {{#each this.allToppings}}
          +{{this}}
          {{/each}}
        </span>
        <span>
          {{this.totalPrice}} 元
        </span>
      </h6>
    </div>
    {{/each}}
  </div>
</section>