<div class="row">
  <!--     訂單區 -->
  <div class="col-md-4 p-4" data-order-lists>

    <div class="text-right">
      <button class="btn btn-light" style="min-width:120px;" data-alpha-pos="checkout">Checkout</button>
    </div>
  </div>
  <!--   點單區   -->
  <div class="col-md-8 p-4" data-order-panel>
    <section class="menu mb-4">
      <div class="card-deck mb-3">
        {{#each drinks}}
        <div class="card text-center">
          <label class="card-body px-2">
            <h5 class="card-title">{{drinks.name}} ${{drinks.price}}</h5>
            <input type="radio" name="drink" value="{{drinks.name}}" data-id="{{drinks.id}}">
          </label>
        </div>
        {{/each}}
      </div>
      <nav class="mt-3" aria-label="page navigation" style="display:flex;justify-content:center">
        <ul class="pagination">
          <li class="page-item {{#ifCond pagination.currentPage 1}}disabled{{/ifCond}}">
            <a class="page-link" href="/restaurants?page={{pagination.prev}}&categoryId={{categoryId}}"
              aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          {{#each pagination.pages}}
          {{#ifCond this ../pagination.currentPage}}
          <li class="page-item active"><a class="page-link" href="#">{{this}}</a></li>
          {{else}}
          <li class="page-item">
            <a class="page-link" href="/restaurants?page={{this}}&categoryId={{../categoryId}}">{{this}}</a>
          </li>
          {{/ifCond}}
          {{/each}}
          <li class="page-item {{#ifCond pagination.currentPage pagination.totalPage}}disabled{{/ifCond}}">
            <a class="page-link" href="/restaurants?page={{pagination.next}}&categoryId={{categoryId}}"
              aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </section>

    <section class="ice mb-4">
      <label class="d-block text-light">Ice</label>

      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-outline-primary">
          <input type="radio" name="ice" value="No Ice" />去冰
        </label>
        <label class="btn btn-outline-primary">
          <input type="radio" name="ice" value="light Ice" />微冰
        </label>

        <label class="btn btn-outline-primary">
          <input type="radio" name="ice" value="Less Ice" />少冰
        </label>
        <label class="btn btn-outline-primary active">
          <input type="radio" name="ice" value="Regular Ice" checked="checked" />正常
        </label>
        <label class="btn btn-outline-danger">
          <input type="radio" name="ice" value="Hot" />熱飲
        </label>
      </div>
    </section>

    <section class="sugar mb-5">
      <label class="d-block text-light">Sugar</label>
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-outline-info">
          <input type="radio" name="sugar" value="No Sugar" />無糖
        </label>
        <label class="btn btn-outline-info">
          <input type="radio" name="sugar" value="Light Sugar" />微糖
        </label>
        <label class="btn btn-outline-info">
          <input type="radio" name="sugar" value="Half Sugar" />半糖
        </label>
        <label class="btn btn-outline-info">
          <input type="radio" name="sugar" value="Less Sugar" />少糖
        </label>
        <label class="btn btn-outline-info active">
          <input type="radio" name="sugar" value="Regular Sugar" checked="checked" />正常
        </label>
      </div>
    </section>

    <div class="text-right">
      <div class="btn btn-light" style="min-width:120px;" data-alpha-pos="add-drink">新增</div>
    </div>
  </div>
</div>