<div class="row">
  <!--     訂單區 -->
  <div class="col-md-4 p-4" data-order-lists>

    <div class="text-right">
      <button class="btn btn-light" style="min-width:120px;" data-alpha-pos="checkout">Checkout</button>
    </div>
  </div>
  <!--   點單區   -->
  <div class="col-md-8 p-4" data-order-panel>
    <section class="menu">

      {{!-- 飲料類別 --}}
      <ul class="navbar nav-tabs">
        <li class="nav-item">
          <a class="nav-link {{#ifCond categoryId ''}}active{{/ifCond}}" href="?categoryId=">全部</a>
        </li>
        {{#each categories}}
        <li class="nav-item">
          <a class="nav-link {{#ifCond ../categoryId this.id}}active{{/ifCond}}" href="?categoryId={{this.id}}">{{this.name}}</a>
        </li>
        {{/each}}
      </ul>
      
      {{!-- 飲料區 --}}
      <div class="card-deck mb-3">
        {{#each drinks}}
        <div class="card text-center">
          <label class="card-body px-2">
            <h5 class="card-title">{{this.name}} ${{this.price}}</h5>
            <input type="radio" name="drink" value="{{this.name}}" data-id="{{this.id}}">
          </label>
        </div>
        {{/each}}
      </div>

      {{!-- 分頁器 --}}
      <nav class="drinks-pagination mt-5" aria-label="page navigation">
        <ul class="pagination">
          <li class="page-item {{#ifCond pagination.current 1}}disabled{{/ifCond}}">
            <a class="page-link" href="?categoryId={{categoryId}}&page={{pagination.prev}}"
              aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          {{#each pagination.pages}}
          {{#ifCond this ../pagination.current}}
          <li class="page-item active"><a class="page-link" href="#">{{this}}</a></li>
          {{else}}
          <li class="page-item">
            <a class="page-link" href="?categoryId={{../categoryId}}&page={{this}}">{{this}}</a>
          </li>
          {{/ifCond}}
          {{/each}}
          <li class="page-item {{#ifCond pagination.current pagination.totalPage}}disabled{{/ifCond}}">
            <a class="page-link" href="?categoryId={{categoryId}}&page={{pagination.next}}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </section>

    <section class="ice mb-4">
      <label class="d-block text-light">Ice</label>

      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-outline-primary">
          <input type="radio" name="ice" value="No Ice" />去冰
        </label>
        <label class="btn btn-outline-primary">
          <input type="radio" name="ice" value="light Ice" />微冰
        </label>

        <label class="btn btn-outline-primary">
          <input type="radio" name="ice" value="Less Ice" />少冰
        </label>
        <label class="btn btn-outline-primary active">
          <input type="radio" name="ice" value="Regular Ice" checked="checked" />正常
        </label>
        <label class="btn btn-outline-danger">
          <input type="radio" name="ice" value="Hot" />熱飲
        </label>
      </div>
    </section>

    <section class="sugar mb-5">
      <label class="d-block text-light">Sugar</label>
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-outline-info">
          <input type="radio" name="sugar" value="No Sugar" />無糖
        </label>
        <label class="btn btn-outline-info">
          <input type="radio" name="sugar" value="Light Sugar" />微糖
        </label>
        <label class="btn btn-outline-info">
          <input type="radio" name="sugar" value="Half Sugar" />半糖
        </label>
        <label class="btn btn-outline-info">
          <input type="radio" name="sugar" value="Less Sugar" />少糖
        </label>
        <label class="btn btn-outline-info active">
          <input type="radio" name="sugar" value="Regular Sugar" checked="checked" />正常
        </label>
      </div>
    </section>

    <div class="text-right">
      <div class="btn btn-light" style="min-width:120px;" data-alpha-pos="add-drink">新增</div>
    </div>
  </div>
</div>