{{> messages}}
<div class="row">
  <!--     訂單區 -->
  <div class="col-md-4 p-3">
    <h5 style="color:azure">訂單查詢—{{user.Shift.name}}人員: {{user.name}}</h5>
    {{#ifCond orders.length 0 }}
    <h4 class="text-center my-5" style="color:azure;font-weight:bold"><b>尚無資料</b></h4>
    {{/ifCond}}
    {{#each orders}}
    <a href="/drinks/orders/{{this.id}}" style="text-decoration:none">
      <div class="card my-3 consume-card">
        <div class="card-body pt-3 pr-3">
          <div class="card-text mb-1">消費數量: {{this.quantity}} 杯</div>
          <div class="card-text">消費金額: {{this.totalPrice}} 元</div>
        </div>
        <div class="card-footer text-right py-2">
          <div class="card-text"><span>訂單時間: {{catchTime this.createdAt }}</span></div>
        </div>
      </div>
    </a>
    {{/each}}
    <div class="card orderTotalPrice pb-3">
      <span>總單數: {{totalQuantity}} 筆</span>
      <span>總金額: {{totalPrice}} 元</span>
    </div>
  </div>

  <!--   點單區   -->
  <div class="col-md-8 query-consumes p-3">
    {{> orders-query}}
  </div>
</div>